<div class="helloworld">
    <?php 
        $product = $this->getProduct()->getFirstItem();
        echo "<h1>Oportunidade Única</h1>";
        echo "<h2>".$product->getName()."</h2>";
        echo "<img src='".$product->getImageUrl()."'/>";
        echo "<p>".$product->getDescription()."</p>";

    ?>
</div>